.home-banner {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(245, 243, 243);
  border-bottom: 0.5px solid grey;
}

.home-banner .status {
  position: absolute;
  left: 0;
  line-height: 50px;
}

.home-banner .title {
  text-align: center;
  line-height: 55px;
  font-size: 18px;
  color: rgb(121, 121, 121);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner .title img {
  transform: translateY(-2px);
}

.home-banner .card-list-button {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 45px;
}
