.home-banner {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgb(245, 243, 243);
  border-bottom: 0.5px solid grey;
}

.home-banner .status {
  position: absolute;
  left: 0;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: rgb(103, 151, 127);
}

.home-banner .title {
  text-align: center;
  line-height: 55px;
  font-size: 18px;
  color: rgb(121, 121, 121);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner .title img {
  transform: translateY(-4px);
}

.home-banner .card-list-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: darkolivegreen;
  color: aliceblue;
}

.status a {
  text-decoration: none;
  color: white;
}
