.article {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left
    }
.article_date {
    color: gray;
    font-family: monospace
    }
.block-title {
    display: block;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre_feed_list {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre_feed_title {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.calibre_navbar {
    display: block;
    font-family: monospace;
    font-size: 0.7em;
    text-align: center
    }
.calibre_navbar1 {
    display: block;
    font-family: monospace;
    font-size: 0.7em
    }
.calibre1 {
    display: block;
    font-size: 1em
    }
.calibre2 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre3 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre4 {
    display: block;
    text-align: right;
    margin: 1em 0
    }
.calibre5 {
    display: list-item
    }
.calibre6 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre7 {
    display: list-item;
    font-size: 1em;
    padding-bottom: 0.5em
    }
.calibre8 {
    display: block
    }
.calibre9 {
    color: #E05E02
    }
.calibre10 {
    display: block;
    font-style: italic
    }
.calibre11 {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-align: left;
    margin: 1em 0
    }
.calibre12 {
    font-weight: bold
    }
.calibre13 {
    font-style: italic
    }
.calibre14 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre15 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre16 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.calibre17 {
    display: block;
    line-height: 1.2
    }
.calibre18 {
    font-style: italic;
    line-height: 1.2
    }
.calibre19 {
    display: table-header-group;
    vertical-align: middle
    }
.calibre20 {
    display: table-row;
    vertical-align: inherit
    }
.calibre21 {
    border-bottom: currentColor dotted 1px
    }
.calibre22 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre23 {
    text-decoration: line-through
    }
.dcr-15l9ami {
    display: block;
    font-weight: bold;
    margin: 1.33em 0
    }
.dcr-125vfar {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.dcr-154wgrb {
    line-height: 1.2
    }
.dcr-vdb1rb {
    display: block;
    margin: 1em 0
    }
.fc-item__title {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.feed {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2
    }
.football-stat--postition {
    display: table-cell;
    font-weight: bold;
    vertical-align: inherit;
    padding: 1px
    }
.football-stat--postition1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.quoted {
    display: block;
    margin: 1em
    }
.table {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.u-faux-block-link__cta {
    color: #E05E02;
    line-height: 1.2
    }
.u-unstyled {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
