.myreader {
  width: 100%;
  padding: 0 16px;
  line-height: 1.5;
  color: rgb(41, 41, 41);
}

.myreader a {
  color: cadetblue;
}

.myreader div[data-crop-type] {
  display: none;
}

.myreader div[data-crop-type] + div {
  display: none;
}

.myreader.serif {
  font-family: serif;
}

.myreader.sans-serif {
  font-family: sans-serif;
}

.myreader.bookerly {
  font-family: bookerly;
}

.myreader.faricynew {
  font-family: faricynew;
}

.myreader.futura {
  font-family: futura;
}

.myreader.small {
  font-size: 16px;
}
.myreader.middle {
  font-size: 18px;
}
.myreader.large {
  font-size: 20px;
}

.myreader img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.token-class.word {
  border-radius: 4px;
}

.token-class.word:hover {
  cursor: pointer;
}

.token-class.word:active {
  cursor: pointer;
  background-color: aquamarine;
}

.token-class.highlight {
  background-color: palegoldenrod;
}
