.card-list {
  padding: 50px 8px 0px 8px;
}

.card-list .word-card {
  margin: 8px 0;
}

.card-list-banner {
  position: fixed;
  height: 50px;
  max-width: var(--app-width);
  width: 100%;
  border-bottom: 1px solid gainsboro;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
  z-index: 999;
}

.card-list-banner > select {
  font-size: 16px;
}
