.article-item {
  margin: 8px;
}

.article-item .user {
  margin: 4px 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(197, 196, 196);
}

.article-item .user .username {
  color: forestgreen;
  font-weight: bold;
}

.article-item .img-wrapper {
  height: 68vw;
  width: 100%;
}
.article-item .img-wrapper .img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-item .title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 4px 8px;
}

.comment {
  margin-left: 8px;
}

.article-item .date,
.description {
  color: #767676;
  margin: 0px 8px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.article-item .hostname {
  color: darkseagreen;
  margin: 0 8px;
}
