.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.register .register-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 16px;
}

.register .logo {
  width: 70%;
}

.register div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password {
  margin-top: 8px;
}

input {
  margin-top: 8px;
}

.loginbutton {
  margin-top: 20px;
}
