.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.register .register-banner {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  justify-content: start;
}

.register .logo {
  /* width: 70%; */
  margin: 0 auto 20px auto;
}

.register .logo img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.register div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password {
  margin-top: 8px;
}

input {
  margin-top: 8px;
}

.loginbutton {
  margin-top: 20px;
}