.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 400px;
  margin: 0 auto;
}

.login .login-banner {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-top: 16px;
}

.login .logo {
  width: 70%;
  margin: 0 auto 20px auto;
}

.login .logo img {
  width: 100%;
  display: block;
  height: auto;
}

.login div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.password {
  margin-top: 8px;
}

input {
  margin-top: 8px;
}

.loginbutton {
  margin-top: 20px;
}
