* {
  box-sizing: border-box;
}

:root {
  --app-width: 800px;
}

#root {
  max-width: var(--app-width);
  margin: 0 auto;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f7f8fa;
  margin: 0px;
  width: 100%;
  height: 100%;
}
