* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: bookerly;
  src: url(./asset/font/Bookerly.ttf);
}

@font-face {
  font-family: futura;
  src: url(./asset/font/futura.ttf);
}

@font-face {
  font-family: literata;
  src: url(./asset/font/Literata-Regular.ttf);
}
