* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: bookerly;
  src: url(./asset/font/Bookerly.ttf);
}

@font-face {
  font-family: faricynew;
  src: url(./asset/font/FaricyNew-Regular.otf);
}

@font-face {
  font-family: literata;
  src: url(./asset/font/Literata-Regular.ttf);
}
